<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config />
    <context:component-scan base-package="*"/>

    <!-- Net configuration -->
    <bean class="utils.io.IntOperator" id="inOperator"/>
    <bean class="utils.io.DoubleOperator" id="doubleOperator"/>
    <bean class="utils.io.PointOperator" id="pointOperator"/>
    <bean class="utils.io.UTFStringOperator" id="UTFStringOperator"/>

    <bean id="headerOperator" class="utils.io.StreamOperator">
        <property name="serializers">
            <array value-type="utils.io.ISerializer">
                <ref bean="inOperator"/>
                <ref bean="inOperator"/>
            </array>
        </property>
        <property name="deserializers">
            <array value-type="utils.io.IDeserializer">
                <ref bean="inOperator"/>
                <ref bean="inOperator"/>
            </array>
        </property>
    </bean>


    <bean id="loginOperator" class="utils.io.StreamOperator">
        <property name="serializers">
            <array value-type="utils.io.IDeserializer">
                <!-- login -->
                <ref bean="UTFStringOperator"/>
                <!-- password -->
                <ref bean="UTFStringOperator"/>
            </array>
        </property>
    </bean>

    <bean id="loginAnswerOperator" class="utils.io.StreamOperator">
        <!-- status -->
        <property name="deserializers">
            <array value-type="utils.io.IDeserializer">
                <!--id-->
                <ref bean="inOperator"/>
                <!--status-->
                <ref bean="inOperator"/>
            </array>
        </property>
    </bean>

    <bean id="chatMessageOperator" class="utils.io.StreamOperator">
        <property name="serializers">
            <array value-type="utils.io.ISerializer">
                <!-- userid -->
                <ref bean="inOperator"/>
                <!-- message group -->
                <ref bean="inOperator"/>
                <!-- message -->
                <ref bean="UTFStringOperator"/>
            </array>
        </property>
        <property name="deserializers">
            <array value-type="utils.io.IDeserializer">
                <!-- userid -->
                <ref bean="inOperator"/>
                <!-- message group -->
                <ref bean="inOperator"/>
                <!-- message -->
                <ref bean="UTFStringOperator"/>
            </array>
        </property>
    </bean>

    <bean class="net.packets.BytePacket" id="pingPacket">
        <property name="type" value="0"/>
        <property ref="headerOperator" name="headerOperator"/>
    </bean>

    <bean id="loginAnswer" class="net.packets.BytePacket">
        <property name="type" value="2"/>
        <property name="headerOperator" ref="headerOperator"/>
        <property name="streamOperator" ref="loginAnswerOperator"/>
    </bean>

    <bean id="loginPacket" class="net.packets.BytePacket">
        <property name="type" value="3"/>
        <property name="headerOperator" ref="headerOperator"/>
        <property name="streamOperator" ref="loginOperator"/>
    </bean>

    <bean id="chatMessage" class="net.packets.BytePacket">
        <property name="type" value="1"/>
        <property name="headerOperator" ref="headerOperator"/>
        <property name="streamOperator" ref="chatMessageOperator"/>
    </bean>

    <bean class="net.DataReader" id="dataReaders">
        <property name="readers">
            <array value-type="net.packets.BytePacket">
                <ref bean="loginPacket"/>
                <ref bean="pingPacket"/>
                <ref bean="chatMessage"/>
            </array>
        </property>
    </bean>

    <bean class="game.Lobby" id="lobby" init-method="initialize">
        <property name="chatMessage" ref="chatMessage"/>
        <property name="sessionManager" ref="sessionManager"/>
    </bean>

    <bean class="net.Server" id="mainServerManager">
        <constructor-arg name="dataReader" ref="dataReaders"/>
        <constructor-arg name="dataRouter" ref="socketDataEventRouter"/>
        <constructor-arg name="sessionManager" ref="sessionManager"/>
    </bean>
    <!-- end of net config -->

    <bean class="logic.SessionManager" id="sessionManager"/>

    <bean class="events.ChatMessageEventHandler" id="chatMessageEvent" depends-on="chatMessage">
        <property name="typeFromPacket" ref="chatMessage"/>
        <property name="sessionManager" ref="sessionManager"/>
    </bean>

    <bean class="events.LoginEventHandler" id="loginEvent" depends-on="loginPacket">
        <property name="sessionMManager" ref="sessionManager"/>
        <property name="typeFromPacket" ref="loginPacket"/>
        <property name="loginAnswerPacket" ref="loginAnswer"/>
        <property name="lobby" ref="lobby"/>
    </bean>

    <bean class="net.events.SocketDataEventRouter" id="socketDataEventRouter">
        <property name="listeners">
            <array value-type="net.events.IBytePacketDataEventListener">
                <ref bean="loginEvent"/>
                <ref bean="chatMessageEvent"/>
            </array>
        </property>
    </bean>



</beans>