<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config />
    <context:component-scan base-package="*"/>

    <import resource="packets.xml"/>

    <!-- Net configuration -->
    <bean class="net.DataReader" id="dataReaders">
        <property name="readers">
            <array value-type="net.packets.BytePacket">
                <ref bean="loginPacket"/>
                <ref bean="pingPacket"/>
                <ref bean="chatMessage"/>
            </array>
        </property>
    </bean>

    <bean class="game.Lobby" id="lobby" init-method="initialize">
        <property name="chatMessage" ref="chatMessage"/>
        <property name="chatJoinPacket" ref="chatJoin"/>
        <property name="sessionManager" ref="sessionManager"/>
    </bean>

    <bean class="net.Server" id="mainServerManager">
        <constructor-arg name="dataReader" ref="dataReaders"/>
        <constructor-arg name="dataRouter" ref="socketDataEventRouter"/>
        <constructor-arg name="sessionManager" ref="sessionManager"/>
        <property name="greetPacket" ref="greetingPacket"/>
    </bean>
    <!-- end of net config -->

    <bean class="logic.SessionManager" id="sessionManager"/>

    <bean class="events.ChatMessageEventHandler" id="chatMessageEvent" depends-on="chatMessage">
        <property name="typeFromPacket" ref="chatMessage"/>
        <property name="sessionManager" ref="sessionManager"/>
    </bean>

    <bean class="events.LoginEventHandler" id="loginEvent" depends-on="loginPacket">
        <property name="sessionMManager" ref="sessionManager"/>
        <property name="typeFromPacket" ref="loginPacket"/>
        <property name="loginAnswerPacket" ref="loginAnswer"/>
        <property name="lobby" ref="lobby"/>
    </bean>

    <bean class="net.events.SocketDataEventRouter" id="socketDataEventRouter">
        <property name="listeners">
            <array value-type="net.events.IBytePacketDataEventListener">
                <ref bean="loginEvent"/>
                <ref bean="chatMessageEvent"/>
            </array>
        </property>
    </bean>



</beans>